.bg-color1 {
  background-image: linear-gradient(135deg, hsl(16 85% 58%), hsl(25 95% 78%));
  color: white;
}

.font-color1 {
  background-image: linear-gradient(135deg, hsl(16 85% 58%), hsl(25 95% 78%));
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.btn-hover:hover {
  color: white;
  background-color: white;
  transform: scale(1.1);
  transition: 0.3s ease;
}

.btn-hover {
  transition: 0.3s ease;
}

.card-hover {
  transition: 0.3s ease;
}

.card-hover:hover {
  transform: scale(1.05);
  transition: 0.3s ease;
}

.img-hover {
  transition: 0.3s ease;
}

.img-hover:hover {
  transform: scale(1.03);
  transition: 0.3s ease;
}

.link-hover {
  transition: 0.3s ease;
}

.link-hover:hover {
  transform: scale(1.1);
  transition: 0.3s ease;
}

.active {
  transition: 0.9s ease;
}
